@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: #fdf2f8; /* Pink light bg */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
